/* Initially hide the dropdown info */
.dropdown-info {
  display: none;
}

/* When hovering over the parent, show the dropdown info */
.dropdown-parent:hover .dropdown-info {
  display: block;
}

.cormorant-fourH {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bgImgSlider {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  pointer-events: none;
}